h2 {
    text-align:center;
    font-family: sans-serif;
  }

  div.logo {
    float: left;
  }

img {
    float: right;
    margin-right: 5px;
    margin-top: 60px;
    padding: 5px 5px;

}
h3 {
    text-align: left;
    margin-top: 35px;
    font-size: 18px;
    font-family: sans-serif;
}

p {
  text-align: left;
  margin: 0px;
  padding-bottom: 10px;
  font-size: 13px;
  font-family: sans-serif;
}
div.contact {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  font-family: sans-serif;
}

ul {
    font-family: sans-serif;
    position: relative;
}
